body {
    margin: 0;
}

html,
body {
    height: 100%;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #E8E8E8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topbar {
    color: #E8E8E8;
    flex: 0;
    max-height: 24px;
    min-height: 24px;
    background: #1E1E1E;
    user-select: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2px;
}

.titlebar {
    display: flex;
    justify-content: flex-end;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #444;
}

#menu-controls span {
    margin: 2px;
}

#tabs {
    height: 28px;
    background: #2b2b2b;
    padding: 0 20px;
    border-bottom: 1px solid #A8A8A8;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.selected-tab {
    flex: 0 0 180px;
    height: 25px;
    background-color: #E8E8E8;
    border: 1px solid #A8A8A8;
    border-bottom: none;
    padding: 0px 8px;
    translate: 0 1px;

    text-wrap: nowrap;
    overflow: hidden;

    padding-right: 20px;
}

.tab {
    flex: 0 1 180px;

    height: 22px;
    background-color: #CCCCCC;
    border: 1px solid #A8A8A8;
    border-bottom: none;
    padding: 0px 8px;
    margin-left: -1px;

    text-wrap: nowrap;
    overflow: hidden;

    padding-right: 20px;
}

#new-tab {
    background: transparent;
    border: none;
    opacity: 75%;
    font-size: 20px;
    margin-left: 2px;
}

#new-tab:hover {
    opacity: 100%;
}

#screen {
    flex: 1;
    height: 0;
    position: relative;
}

#statusbar {
    flex: 0;
    min-height: 19px;
    background-color: #CCCCCC;
    border-top: 1px solid #A8A8A8;
    font-size: 12px;
    line-height: 18px;
    color: #1E1E1E;
}