body {
    margin: 0;
}

html,
body {
    height: 100%;

    overflow: clip;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #e8e8e8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --bg-tab-color: #2b2b2b;
    --bg-screen-color: #e8e8e8;
    --bg-secondary-color: #d2d2d2;
    --bg-highlight-color: white;

    --border-dark-color: gray;
    --border-normal-color: #a8a8a8;
    --border-light-color: #cccccc;
    --border-error: red;

    --text-normal: #0f0f0f;
    --text-light: #505050;
    --text-warn: #c16c00;
    --text-error: #d13200;
    --text-click-inactive-color: gray;
    --text-click-active-color: black;
    --text-selection-color: white;
    --text-selection-bg-color: #1e1e1e;

    --level-0-color: #0f0f0f;
    --level-0-bg-color: white;
    --level-0-bar-color: #1e1e1e;
    --level-1-color: #0f0f0f;
    --level-1-bg-color: #a8a8a8;
    --level-1-bar-color: #1e1e1e;
    --level-2-color: white;
    --level-2-bg-color: #1e1e1e;
    --level-2-bar-color: #1e1e1e;
    --level-3-color: #0f0f0f;
    --level-3-bg-color: #fb8c00;
    --level-3-bar-color: #fb8c00;
    --level-4-color: #0f0f0f;
    --level-4-bg-color: #e65100;
    --level-4-bar-color: #e65100;
}

::selection {
    background-color: var(--text-selection-bg-color);
    color: var(--text-selection-color);
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu-controls span {
    margin: 2px;
}

#screen {
    flex: 1;
    height: 0;
    position: relative;
}

#statusbar {
    flex: 0;
    min-height: 19px;
    background-color: var(--bg-secondary-color);
    border-top: 1px solid var(--border-normal-color);
    font-size: 12px;
    line-height: 18px;
    color: var(--text-normal);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}