#detail-pane {
    width: 500px;
    min-width: 500px;
    flex: 0;

    display: flex;
    flex-direction: column;

    border: 1px solid var(--border-normal-color);
    border-top: none;
}

#detail-pane-grabber {
    width: 8px;
    cursor: ew-resize;
}

#detail-header {
    flex: 0;
    font-family: monospace;
    font-size: 12px;
    font-weight: 800;
    border-bottom: 1px solid var(--border-normal-color);
    padding: 0 8px;
    padding-bottom: 2px;
    padding-top: 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#detail-header button {
    border: none;
    background-color: transparent;
    color: var(--text-click-inactive-color);
    padding: 0;
}

#detail-header button:hover {
    color: var(--text-click-active-color);
}

#detail-info {
    flex: 1;
    background-color: var(--bg-secondary-color);

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;

    overflow: auto;
}

#detail-info-head {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.detailed-level-0,
.detailed-level-1,
.detailed-level-2,
.detailed-level-3,
.detailed-level-4 {
    height: 20px;
    border-radius: 4px;
    padding: 1px 6px;
}

.detailed-level-0 {
    margin-left: 1px;
    background-color: var(--level-0-bg-color);
    outline: 1px solid var(--border-normal-color);
}

.detailed-level-1 {
    background-color: var(--level-1-bg-color);
}

.detailed-level-2 {
    color: var(--level-2-color);
    background-color: var(--level-2-bg-color);
}

.detailed-level-3 {
    color: var(--level-3-color);
    background-color: var(--level-3-bg-color);
}

.detailed-level-4 {
    color: var(--level-4-color);
    background-color: var(--level-4-bg-color);
}

.detailed-timestamp {
    height: 20px;
    border-radius: 4px;
    padding: 0px 6px;
    border: 1px solid var(--border-normal-color);
}

.detailed-duration {
    height: 20px;
    border-radius: 4px;
    padding: 0px 6px;
    border: 1px solid var(--border-normal-color);
}

/* .detailed-meta {} */

.detailed-meta:hover {
    background-color: color-mix(in lab, var(--bg-secondary-color) 90%, black 10%);
}

/* .detailed-meta-id {} */

.detailed-meta-id:hover {
    background-color: color-mix(in lab, var(--bg-secondary-color) 90%, black 10%);
}

.detailed-meta-parent {
    font-family: monospace;
    margin-left: 16px;
}

.detailed-meta-parent:hover {
    background-color: color-mix(in lab, var(--bg-secondary-color) 90%, black 10%);
}

.detail-info-primary {
    font-family: monospace;
    background-color: var(--bg-highlight-color);
    border-radius: 4px;
    padding: 2px 6px;
    border: 1px solid var(--border-normal-color);
}

#detail-info-attributes {
    display: grid;
    width: 100%;
    grid-template-columns: 16px max-content 16px auto;
    background-color: transparent;
    border-spacing: 0px;
}

.hovered {
    background-color: color-mix(in lab, var(--bg-secondary-color) 90%, black 10%);
}

.detail-info-attributes-source {
    user-select: none;
}

.detail-info-attributes-name {
    font-weight: bold;
}

.detail-info-attributes-value {
    position: relative;
}

.detail-info-attributes-value.value-type-number {
    font-family: monospace;
}

.detail-info-attributes-value.value-type-boolean {
    font-family: monospace;
    font-weight: bold;
}

.detail-info-attributes-value.value-type-string {
    font-family: monospace;
    color: var(--text-light);
}