.event-count-graph-container {
    height: 100px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.event-count-graph-stats {
    flex: 0;
    color: var(--text-light);
}

.event-count-graph-stats .stat-name {
    margin-right: 4px;
}

.event-count-graph-stats .stat-value {
    font-weight: 500;
    color: var(--text-normal);
    margin-right: 8px;
}

.event-count-graph {
    flex: 1;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
}

.event-count-graph-x-axis {
    flex: 0;
    color: var(--text-light);
    position: relative;
    min-height: 20px;
}

.event-count-graph-x-axis-marker {
    flex: 0;
    color: var(--text-light);
    position: absolute;
    translate: -50% 0%;
}

.event-count-graph-y-lines {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-count-graph-y-line {
    width: 100%;
    border-bottom: 1px solid var(--border-light-color);
}

.event-count-graph-cursor {
    position: absolute;
    min-width: 3px;
    height: 100%;

    background-color: gray;
    opacity: 50%;
    pointer-events: none;
}

.event-count-graph-selection {
    position: absolute;
    height: 100%;

    background-color: gray;
    opacity: 25%;
}

.event-count-graph-bar {
    flex: 1;
    height: 100%;
    z-index: 1;

    display: flex;
    flex-direction: column-reverse;
}

.event-count-graph-bar-level-0 {
    min-height: 1px;
    background-color: var(--level-0-bar-color);
}

.event-count-graph-bar-level-1 {
    min-height: 1px;
    background-color: var(--level-1-bar-color);
}

.event-count-graph-bar-level-2 {
    min-height: 1px;
    background-color: var(--level-2-bar-color);
}

.event-count-graph-bar-level-3 {
    min-height: 1px;
    background-color: var(--level-3-bar-color);
}

.event-count-graph-bar-level-4 {
    min-height: 1px;
    background-color: var(--level-4-bar-color);
}