.filter-input-container {
    font-family: monospace;
    background-color: var(--bg-highlight-color);
    border: 1px solid var(--border-dark-color);
    padding: 2px 4px;
    border-radius: 3px;
    white-space: pre-wrap;
}

.filter-input {
    line-height: 24px;
    white-space: pre-wrap;
}

.filter-input:focus {
    outline: 0px solid transparent;
    padding: 2px 5px;
}

.predicate {
    display: inline;
    border: 1px solid var(--border-dark-color);
    border-radius: 3px;
    margin: 2px 0px;
    padding: 2px 4px;
}

.predicate:hover {
    border: 1px solid var(--text-normal);
}

.filter-input:focus .predicate {
    margin: 3px 0px;
    padding: 0 0px;
    border: none;
    border-color: transparent;
    background-color: transparent;
}

.spacer {
    white-space: pre-wrap;
    display: inline-block;
    max-width: 3.2px;
}

.filter-input:focus .spacer {
    display: inline;
    max-width: fit-content;
}

.grouper {
    white-space: pre-wrap;
    font-weight: bold;
    margin: 2px 0px;
    /* padding: 2px 4px; */
    padding: 2px 5px;
}

.filter-input:focus .grouper {
    display: inline;
    margin: 0;
    padding: 0;
}

.level-predicate-0 {
    color: var(--level-0-color);
    background-color: var(--level-0-bg-color);
    border: 1px solid var(--border-normal-color);
}

.level-predicate-1 {
    color: var(--level-1-color);
    background-color: var(--level-1-bg-color);
    border: 1px solid var(--level-1-bg-color);
}

.level-predicate-2 {
    color: var(--level-2-color);
    background-color: var(--level-2-bg-color);
    border: 1px solid var(--level-2-bg-color);
}

.level-predicate-3 {
    color: var(--level-3-color);
    background-color: var(--level-3-bg-color);
    border: 1px solid var(--level-3-bg-color);
}

.level-predicate-4 {
    color: var(--level-4-color);
    background-color: var(--level-4-bg-color);
    border: 1px solid var(--level-4-bg-color);
}

.meta-predicate {
    background-color: var(--border-light-color);
    border-color: var(--border-normal-color);
}

.predicate.focused {
    border-color: transparent;
    background-color: transparent;
}

.predicate.error {
    border-color: var(--border-error);
    background-color: transparent;
}

.predicate.error:hover {
    border-color: color-mix(in lab, var(--border-error) 70%, black 30%);
}