.tabbar {
    height: 28px;
    background: var(--bg-tab-color);
    padding: 0 20px;
    user-select: none;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tabs {
    flex: 1;
    gap: 1px;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow-x: hidden;
    overflow-y: clip;
}

.tab {
    position: relative;
    flex: 0 1 220px;
    min-width: 10px;
    height: 21px;
    background-color: color-mix(in lab, var(--bg-screen-color) 90%, black 10%);
    border-bottom: 1px solid color-mix(in lab, var(--bg-screen-color) 80%, black 20%);
    padding: 0px 8px;

    text-wrap: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.tab:not(.active):hover {
    background-color: color-mix(in lab, var(--bg-screen-color) 85%, black 15%);
}

.tab.active {
    flex: 0 0 220px;
    height: 24px;
    background-color: var(--bg-screen-color);
    border-bottom: none;
}

.tab span {
    display: inline-block;
    flex: 1;
    min-width: 6px;
    text-overflow: ellipsis;
    overflow: clip;
    white-space: nowrap;
}

.tab button {
    border: none;
    background-color: transparent;
    padding: 0px;
    padding-left: 4px;
    font-size: 12px;
    color: var(--text-click-inactive-color);

    display: none;
}

.tab button:hover {
    color: var(--text-click-active-color);
}

.tab button:active {
    font-weight: bold;
}

.tab.active button {
    display: block;
}

.new-tab {
    flex: 0;
    background: transparent;
    border: none;
    opacity: 75%;
    font-size: 20px;
    margin-left: 2px;
}

.new-tab img {
    width: 16px;
    height: 16px;
}

.new-tab:hover {
    opacity: 100%;
}