#table {
    flex: 1;
    max-height: 100%;
    border: 1px solid var(--border-normal-color);
    border-top: none;
    overflow-y: auto;

    display: grid;
    /* grid-template-columns: set by column definitions */
    grid-template-rows: 24px;
    grid-auto-rows: 21px;
}

#table .header {
    top: 0;
    position: sticky;
    background-color: var(--bg-screen-color);
    border-bottom: 1px solid var(--border-light-color);
    border-right: 1px solid var(--border-light-color);
    font-size: 12px;
    font-weight: bold;
    text-align: left;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4px;
    padding-bottom: 2px;
    padding-top: 1px;
}

#table .header .header-text {
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 3px;
    overflow: hidden;
}

#table .header .header-text:focus-within {
    font-weight: 600;
    background-color: var(--bg-highlight-color);
    padding: 0 8px;
    border-color: var(--border-dark-color);
}

#table .header .header-text div[contenteditable]:focus {
    outline: 0px solid transparent;
}

#table .header button {
    flex: 0;
    border: none;
    color: var(--text-click-inactive-color);
    background-color: transparent;
}

#table .header button:hover {
    color: var(--text-click-active-color);
}

#table .header .grabber {
    position: absolute;
    right: calc(0% - 3px);
    top: 0%;
    height: 100%;
    width: 5px;
    cursor: ew-resize;
}

#table .header .grabber.grabbed {
    width: 200px;
    height: 300px;
    right: calc(0% - 101px);
}

#table .data {
    position: relative;
    background-color: var(--bg-highlight-color);
    border-bottom: 1px solid var(--border-light-color);
    border-right: 1px solid var(--border-light-color);
    padding: 0 4px;
    font-family: monospace;
    font-size: 13px;
    white-space: nowrap;
    overflow: clip;
}

#table .data.selected {
    background-color: var(--bg-secondary-color);
}

#table .data:not(.selected).hovered {
    background-color: color-mix(in lab, var(--bg-highlight-color) 85%, gray 15%);
}

#table .data .level-0,
#table .data .level-1,
#table .data .level-2,
#table .data .level-3,
#table .data .level-4 {
    margin-top: 3px;
    width: 7px;
    height: 14px;
    border-radius: 4px;
}

#table .data .level-0 {
    width: 5px;
    height: 12px;
    margin-left: 1px;
    background-color: var(--level-0-bg-color);
    outline: 1px solid var(--border-normal-color);
}

#table .data .level-1 {
    background-color: var(--level-1-bg-color);
}

#table .data .level-2 {
    background-color: var(--level-2-bg-color);
}

#table .data .level-3 {
    background-color: var(--level-3-bg-color);
}

#table .data .level-4 {
    background-color: var(--level-4-bg-color);
}

#table .data .time-bar {
    background-color: var(--level-2-bg-color);
    position: absolute;
    min-width: 3px;
    top: 10%;
    height: 80%;
}

#table .data:hover {
    translate: -1px -1px;
    border: 1px solid var(--border-dark-color);
}