.time-controls {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.time-control {
    display: flex;
    flex-direction: row;
}

.time-controls button {
    border: 1px solid var(--border-dark-color);
    border-radius: 3px;
    background-color: var(--bg-highlight-color);
}

.time-controls:not(.enabled) button {
    background-color: var(--bg-secondary-color);
}

.time-controls.enabled button:hover {
    background-color: color-mix(in lab, var(--bg-highlight-color) 85%, gray 15%);
}

.time-controls.enabled button:active {
    background-color: color-mix(in lab, var(--bg-highlight-color) 75%, gray 25%);
}

.time-controls .time-control .left {
    border-radius: 3px 0px 0px 3px;
}

.time-controls .time-control .main {
    border-top: 1px solid var(--border-dark-color);
    border-bottom: 1px solid var(--border-dark-color);
    padding: 0 8px;
    background-color: var(--bg-highlight-color);
    text-align: center;
}

.time-controls:not(.enabled) .time-control .main {
    background-color: var(--bg-secondary-color);
}

.time-controls .time-control .right {
    border-radius: 0px 3px 3px 0px;
}

.time-controls button.live {
    padding-top: 2px;
    padding-bottom: 0px;
}

.time-controls button.live.active {
    animation: pulse 1s infinite;
}

@keyframes pulse {

    0%,
    49%,
    100% {
        border-color: var(--level-3-bg-color);
    }

    50%,
    99% {
        border-color: var(--border-dark-color);
    }
}