.trace-graph-container {
    height: 100px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.trace-graph-stats {
    flex: 0;
    color: var(--text-light);
}

.trace-graph-stats .stat-name {
    margin-right: 4px;
}

.trace-graph-stats .stat-value {
    font-weight: 500;
    color: var(--text-normal);
    margin-right: 8px;
}

.trace-graph {
    flex: 1;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 4px;
    overflow-y: clip;
}

.trace-graph-x-axis {
    flex: 0;
    color: var(--text-light);
    position: relative;
    min-height: 20px;
}

.trace-graph-x-axis-marker {
    flex: 0;
    color: var(--text-light);
    position: absolute;
    translate: -50% 0%;
}

.trace-graph-y-lines {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trace-graph-y-line {
    width: 100%;
    border-bottom: 1px solid var(--border-light-color);
}

.trace-graph-cursor {
    position: absolute;
    min-width: 3px;
    height: 100%;

    background-color: gray;
    opacity: 50%;
}

.trace-graph-bar {
    min-width: 1px;
    height: 4px;
    position: absolute;
    z-index: 1;
}

.trace-graph-bar.level-0 {
    background-color: var(--level-0-bar-color);
}

.trace-graph-bar.level-1 {
    background-color: var(--level-1-bar-color);
}

.trace-graph-bar.level-2 {
    background-color: var(--level-2-bar-color);
}

.trace-graph-bar.level-3 {
    background-color: var(--level-3-bar-color);
}

.trace-graph-bar.level-4 {
    background-color: var(--level-4-bar-color);
}