.trace-graph-bar {
    min-width: 1px;
    height: 4px;
    position: absolute;
}

.trace-graph-bar.level-0 {
    background-color: var(--level-0-bar-color);
}

.trace-graph-bar.level-1 {
    background-color: var(--level-1-bar-color);
}

.trace-graph-bar.level-2 {
    background-color: var(--level-2-bar-color);
}

.trace-graph-bar.level-3 {
    background-color: var(--level-3-bar-color);
}

.trace-graph-bar.level-4 {
    background-color: var(--level-4-bar-color);
}

.trace-graph-bar.level-5 {
    background-color: var(--level-5-bar-color);
}