.connections-screen {
    height: 100%;

    box-sizing: border-box;
    padding: 8px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.connections-screen-content {
    height: 0px;
    flex: 1;

    display: flex;
    flex-direction: row;
}